header {
  position: relative;
  background-color: $color-01;
  margin-bottom: 5rem;
  nav { 
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    h1 {
      letter-spacing: 0.5px;
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      font-family: 'Syne', sans-serif;
    }

    ul {
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 25px;
      margin-left: -100px;
    }

    .right_social {
        a:first-child  {
            color: #fff;
            background-color:$color-02;
            padding: 8px 25px;
            border-radius: 5px;
        }
    }
  }
}

.container {
  width: unquote('min(100% - 20px, 1480px)');
  margin-inline: auto;
  position: relative;
}
